manifest {
    mainScript = 'main.nf'
}

params {    
    fast5 = ''
    reads = ''
    assembler = ''
    raconRounds = 4
    output = ''
    cpus = 4
    mem = "8GB"
    medakaModel = 'r941_min_fast'
}

profiles {

    // conda profile
    conda {
        executor = 'local'
        docker.enabled = false

        process {
            withName: adapterTrimming {
        		conda = 'environments/adapterTrimming.yaml'
        		cpus = params.cpus
        		memory = params.mem
        	}

            withName: assembly {
                if (params.assembler == 'miniasm') {
                    conda = 'environments/assemblyWithMiniasm.yaml'
                }
                else {
                    conda = 'environments/assemblyRedbean.yaml'
                }
                cpus = params.cpus
                memory = params.mem
            }

            withName: polishingWithoutSignal {
                conda = 'environments/polishingWithoutSignal.yaml'
                cpus = params.cpus
                memory = params.mem
            }

            withName: polishingWithSignal {
                conda = 'environments/polishingWithSignal.yaml'
                cpus = params.cpus
                memory = params.mem
            }

            withName: assessAssemblies {
                conda = 'environments/assessAssemblies.yaml'
                cpus = params.cpus
                memory = params.mem
            }
        }
    }

    // TODO: docker profile
    docker {
        executor = 'local'
        docker.enabled = true

        process {
            withName: adapterTrimming {
        		container = "hadrieng/porechop:0.2.3"
        		cpus = params.cpus
        		memory = params.mem
        	}

        }
    }
}
