manifest {
    mainScript = 'main.nf'
}

params {    
    inputDir = ''
    barcodes = []
    seqKit = 'Auto'
    minQualScore = 60
    assembler = ''
    medakaModel = 'r941_min_fast'
    subSamplingDepth = 100
    raconRounds = 4
    output = ''
    cpus = 4
    mem = "8GB"
}

profiles {

    // conda profile
    conda {
        executor = 'local'
        docker.enabled = false

        process {
            withName: demuxingReads {
        		conda = 'environments/demuxingReads.yaml'
        		cpus = params.cpus
        		memory = params.mem
        	}

            withName: assemblingReads {
                if (params.assembler == 'miniasm') {
                    conda = 'environments/assemblyWithMiniasm.yaml'
                }
                else {
                    conda = 'environments/assemblyRedbean.yaml'
                }
                cpus = params.cpus
                memory = params.mem
            }

            withName: correctingAssemblyWithRacon {
                conda = 'environments/correctingAssemblyWithRacon.yaml'
                cpus = params.cpus
                memory = params.mem
            }

            withName: subsamplingReads {
                conda = 'environments/readSubsampling.yaml'
                cpus = params.cpus
                memory = params.mem
            }

            withName: polishingWithMedaka {
                conda = 'environments/polishingWithMedaka.yaml'
                cpus = params.cpus
                memory = params.mem
            }

            withName: polishingWithNanopolish {
                conda = 'environments/polishingWithNanopolish.yaml'
                cpus = params.cpus
                memory = params.mem
            }

            withName: assessAssemblies {
                conda = 'environments/assessAssemblies.yaml'
                cpus = params.cpus
                memory = params.mem
            }
        }
    }

    // TODO: docker profile
    docker {
        executor = 'local'
        docker.enabled = true

        process {
            withName: trimmingAdapters {
        		container = "hadrieng/porechop:0.2.3"
        		cpus = params.cpus
        		memory = params.mem
        	}

        }
    }
}
