manifest {
    mainScript = 'long-read-assembly.nf'
}

params {    
    inputDir = ''
    barcodes = []
    seqKit = 'Auto'
    minQualScore = 60
    assembler = 'miniasm'
    medakaModel = 'r941_min_fast'
    subSamplingDepth = 100
    raconRounds = 4
    output = ''
    cpus = 4
    mem = "8GB"
}

profiles {
    conda {includeConfig 'conf/conda.config'}
    docker {includeConfig 'conf/docker.config'}
}