executor = 'local'

docker {
    enabled = true
}

process {
            withName: demuxingReads {
        		container = 'ttubb/qcat:latest'
        		cpus = params.cpus
        		memory = params.mem
        	}

            withName: assemblingReads {
                if (params.assembler == 'miniasm') {
                    container = 'willrowe/miniasm:latest'
                }
                else {
                    conda = 'environments/assemblyRedbean.yaml'
                }
                cpus = params.cpus
                memory = params.mem
            }

            withName: correctingAssemblyWithRacon {
                conda = 'environments/correctingAssemblyWithRacon.yaml'
                cpus = params.cpus
                memory = params.mem
            }

            withName: subsamplingReads {
                conda = 'environments/readSubsampling.yaml'
                cpus = params.cpus
                memory = params.mem
            }

            withName: polishingWithMedaka {
                conda = 'environments/polishingWithMedaka.yaml'
                cpus = params.cpus
                memory = params.mem
            }

            withName: polishingWithNanopolish {
                conda = 'environments/polishingWithNanopolish.yaml'
                cpus = params.cpus
                memory = params.mem
            }

            withName: assessAssemblies {
                conda = 'environments/assessAssemblies.yaml'
                cpus = params.cpus
                memory = params.mem
            }
}
