manifest {
    mainScript = 'long-read-assembly-dn.nf'
    homePage = 'https://github.com/will-rowe/signal-check'
    description = 'Pipeline for long read assembly, with and without signal-data'
}

params {    
    fast5Dir = ''
    fastqDir = ''
    barcodes = []
    seqKit = 'Auto'
    minQualScore = 60
    assembler = 'miniasm'
    medakaModel = 'r941_min_fast'
    subSamplingDepth = 100
    raconRounds = 4
    output = ''
    cpus = 4
    mem = "8GB"
}

profiles {
    conda {includeConfig 'conf/conda.config'}
    docker {includeConfig 'conf/docker.config'}
}