executor = 'local'

docker {
    enabled = true
}

process {
    withName: demuxingReads {
		container = 'willrowe/qcat:latest'
		cpus = params.cpus
		memory = params.mem
	}

    withName: referenceAlignment {
        container = 'willrowe/pomoxis:latest'
        cpus = params.cpus
        memory = params.mem
    }

    withName: subsamplingReads {
        container = 'willrowe/pomoxis:latest'
        cpus = params.cpus
        memory = params.mem
    }

    withName: nanopolishIndexing {
        container = 'willrowe/nanopolish:latest'
        cpus = params.cpus
        memory = params.mem
    } 

    withName: variantcallWithMedaka {
        container = 'willrowe/medaka:latest'
        cpus = params.cpus
        memory = params.mem
    }  

    withName: assemblingReadsRG {
        container = 'willrowe/pomoxis:latest'
        cpus = params.cpus
        memory = params.mem
    }

    withName: assemblingReadsDN {
        if (params.assembler == 'miniasm') {
            container = 'willrowe/miniasm:latest'
        }
        else {
            container = 'willrowe/redbean:latest'
        }
        cpus = params.cpus
        memory = params.mem
    }

    withName: correctingAssemblyWithRaconDN {
        container = 'willrowe/racon:latest'
        cpus = params.cpus
        memory = params.mem
    }

    withName: polishingWithMedakaDN {
        container = 'willrowe/medaka:latest'
        cpus = params.cpus
        memory = params.mem
    }

    withName: polishingWithNanopolishDN {
        container = 'willrowe/nanopolish:latest'
        cpus = params.cpus
        memory = params.mem
    }

    withName: repolishingWithMedakaDN {
        container = 'willrowe/medaka:latest'
        cpus = params.cpus
        memory = params.mem
    }

    withName: repolishingWithNanopolishDN {
        container = 'willrowe/nanopolish:latest'
        cpus = params.cpus
        memory = params.mem
    }

    withName: assessAssemblies {
        container = 'willrowe/quast:latest'
        cpus = params.cpus
        memory = params.mem
    }
}
